<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Bonjour <%= @user.email %> <br><br>

  Pour valider la réservation <span style="font-weight: 900"> <%= @billet %></span> vous devez cliquer sur le lien suivant <br><br>

  <a href="<%= @url %>">  <%= @url %> </a>

</p>
<p>Bonne continuation<br>titre</p>
</body>
</html>